@model Jewellery.Models.Entity.Product
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 class="alert-info">AddCompany</h2>

<link href="~/fonts/Style.css" rel="stylesheet" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.min.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <div class="container">
            <a class="btn btn-info" href="/Company/Index/">Back</a>
            @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post,new { enctype="multipart/form-data"}))
            {
        <div class="form-group ">
            <br />
            @Html.Label("Product Name")
            @Html.TextBoxFor(x => x.PName, new { @class = "form-control" })
            <br />
            @Html.Label("Content")
            @Html.TextAreaFor(x => x.PContent, new { @class = "form-control" })
            <br />
            @Html.LabelFor(x=>x.PImg, new { @class="control-label col-md-2" })           
            <input type="file" name="IFile" required/>
            <br />
            @Html.Label("Price")
            @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
            <br />
            <button class="btn btn-success">Add</button>
        </div>
            }
        </div>
    </div>
</main>

